<nav>
  <a routerLink="/sloves" routerLinkActive="active">View Sloves</a> <br>
  <a routerLink="/slove/create" routerLinkActive="active">Create Slove</a><br>
  <a routerLink="/login" routerLinkActive="active">Login</a><br>
  <a routerLink="slove/delete/:id" routerLinkActive="active">delete</a><br>
  <a routerLink="slove/edit/:id" routerLinkActive="active">update</a><br>
  <!-- Add more navigation links as needed -->
</nav>

<br>
<!-- This is where routed components will be displayed -->
<router-outlet></router-outlet>